[Desktop Entry]
Name=Font Preview
Name[sv]=Typsnittsgranskning
Comment=Preview and compare fonts
Comment[sv]=Förhandsgranska och jämför typsnitt
Exec=font-preview
Icon=font-preview
Terminal=false
Type=Application
Categories=Utility;GTK;
Keywords=font;preview;compare;unicode;
Keywords[sv]=typsnitt;förhandsgranskning;jämför;unicode;
StartupNotify=true
